body  {
  background-image: url(/pacote-d013/imagens/fundo-madeira.jpg);
  background-size: cover;
  position: relative;
  height: 98vh;
  min-width: 350px;
  min-height: 400px;
}
div.celular {
  
  position: absolute;
  height: 600px;
  width: 300px;
  left: 50%;
  top: 50%;
  
  transform: translate(-50%, -50%);
  background-image: url(/pacote-d013/imagens/frame-iphone.png);
  background-size: cover;
}

div.tela {
  display: inline-flex;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  background-image: url(/pacote-d013/imagens/logo-home.jpg);
  background-color: cover;
}